<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body id="body">
    <div id="app"></div>
 
    <script type="module">
        import Messagerie from "./messagerie.js";
        const app = Vue.createApp({
            components:{
                Messagerie:Messagerie
            },
            template:"<messagerie :socket='socket'/>",
            data(){
                return {
                    socket:io()
                }
            }
        });

        var vm = app.mount("div#app")
    </script>
</body>
</html>