<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="login">
    <form action="/login" method="post">
            <label for="id">Identifiant</label>
            <input type="text" name="" id="id">
            <label for="password">PassWord</label>
            <input type="text" name="" id="password">
            <button type="submit"> go</button>
    </form>
    </div>
    <script>
      
    </script>
</body>
</html>