  body {
        height: 300px;
        width: 600px;
        border: 2px solid green;
       position:relative;
    }
   
  
    #barre-message{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border: 2px solid black;
        display: flex;
    
    }
    input{
        flex-grow: 1;
        border:none;
    }
    input:focus{
        outline: none;
        border:2px solid red
    }
    button {
        margin-left: auto;
    }
    #messages>li {
        background-color: aliceblue;
    }
    #messages>li:nth-child(odd) { 
        background-color: #e0e0e0e7; 
    }